.session-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.session-screen_day{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    margin: 0 0 120px 44px;
}

.session-screen_day>p{
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    margin-bottom: 22px;
    color: var(--main-text-color);
}

.session-screen_time{
    display: flex;
    margin-bottom: 23px;
}

.session-screen_time_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 43px;
    margin-right: 8px;
    border-radius: 3px;
    background-color: var(--logo-color);
}

.session-screen a{
    text-decoration: none;
    color: var(--time-color);
}