:root{
    --header-color: #C3CFD9;
    --logo-color: #E8833A;
    --main-text-color: #293845;
    --background: #E5E5E5;

    font-family: "Roboto";
}

* {
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: var(--logo-color);
    background-color: var(--header-color);
}