:root{
    --header-color: #C3CFD9;
    --logo-color: #E8833A;
    --main-text-color: #293845;

    font-family: "Roboto";
}

* {
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: var(--logo-color);
    background-color: var(--header-color);
}

.movie-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-screen p{
    font-size: 24px;
    letter-spacing: 0.04em;
    margin: 50px 0;
    color: var(--main-text-color);
}